<div class="row">
	<div class="col s12">
		<h3>{{title}}</h3>
		<form materialize #wordForm="ngForm" (submit)="onSubmit()">
			<div class="input-field">
				<label class="active" for="word">Woord</label>
				<input type="text" id="word" name="word" [(ngModel)]="word.word" required>
			</div>
			<div class="file-field input-field" hidden>
				<div class="btn">
					<span>File</span>
					<input type="file" (change)="wordSoundFileChanged($event)" name="images">
				</div>
				<div class="file-path-wrapper">
					<input type="text" class="file-path validate">
				</div>
			</div>

			<div class="input-field">
				<label class="active" for="sound-groups">Klank groepen (gescheiden met een ',' bv: 'vlieg, tuig')</label>
				<input type="text" id="sound-groups" name="sound-groups" (change)="onSoundGroupsChanged($event)" required [(ngModel)]="word.soundGroups">
			</div>
			<div class="file-field input-field" hidden>
				<div class="btn">
					<span>File</span>
					<input type="file" (change)="soundGroupsFileChanged($event, i)" name="images">
				</div>
				<div class="file-path-wrapper">
					<input type="text" class="file-path validate">
				</div>
			</div>
			
			<div class="input-field">
				<label class="active" for="similar-words">Gelijkaardige woorden (gescheiden met een ',' bv: 'boot, stoom')</label>
				<input type="text" id="ismilar-word" name="similar-words" (change)="onSimilarWordsChanged($event)" required [(ngModel)]="word.similarWords">
			</div>
			<div class="input-field">
				<label class="active" for="not-similar-words">Niet gelijkaardige woorden (gescheiden met een ',' bv: 'bloem, huis')</label>
				<input type="text" id="not-similar-words" name="not-similar-words" (change)="onDifferentWordsChanged($event)" required [(ngModel)]="word.differentWords">
			</div>

			<div class="input-field">
				<label class="active" for="description">Omschrijving</label>
				<input type="text" id="description" name="description" required [(ngModel)]="word.description">
			</div>

			<div class="input-field">
				<label class="active" for="sentenceGood">juiste contextzin</label>
				<input type="text" id="sentenceGood" name="sentenceGood" required [(ngModel)]="word.sentenceGood">
			</div>

			<div class="input-field">
				<label class="active" for="sentenceBad">Foute contextzin</label>
				<input type="text" id="sentenceBad" name="sentenceBad" required [(ngModel)]="word.sentenceBad">
			</div>

			<h5>Afbeeldingen voor de testen</h5>
			<ul materialize="collapsible" class="collapsible">
				<li *ngFor="let image of word.images" >
					<div class="collapsible-header">{{ word.images.indexOf(image) == 0 ? "Juist antwoord" : "Afleider " + word.images.indexOf(image)}}</div>
					<div class="collapsible-body">
						<app-image-select [image]="image"></app-image-select>
					</div>
				</li>
			</ul>
			<br>

			<h5>Afbeeldingen voor de oefening met de drag en drop</h5>
			<h6>Juiste antwoorden <span class="right"><a href="javascript:void(0)" (click)="addMatchingImage()"><i class="material-icons">add</i></a></span></h6>
			<h6 class="red-text" [hidden]="word.matchingImages.length != 0">Er zijn nog geen juiste antwoorden toegevoegd</h6>
			<br>
			<ul materialize="collapsible" class="collapsible" [hidden]="word.matchingImages.length == 0">
				<li *ngFor="let image of word.matchingImages">
					<div class="collapsible-header">
						<div class="col s12">
							Afbeelding {{word.matchingImages.indexOf(image) + 1}}
							<span class="right"><i class="material-icons" (click)="deleteMatchingImage(image)">delete</i></span> 
						</div>
					</div>
					<div class="collapsible-body">
						<app-image-select [image]="image"></app-image-select>
					</div>
				</li>
			</ul>

			<h6>Foute antwoorden <span class="right"><a href="javascript:void(0)" (click)="addNotMatchingImage()"><i class="material-icons">add</i></a></span></h6>
			<h6 class="red-text" [hidden]="word.notMatchingImages.length != 0">Er zijn nog geen foute antwoorden toegevoegd</h6>
			<br>
			<ul materialize="collapsible" class="collapsible" [hidden]="word.notMatchingImages.length == 0">
				<li *ngFor="let image of word.notMatchingImages">
					<div class="collapsible-header">
						<div class="col s12">
							Afbeelding {{word.notMatchingImages.indexOf(image) + 1}}
							<span class="right"><i class="material-icons" (click)="deleteNotMatchingImage(image)">delete</i></span> 
						</div>
					</div>
					<div class="collapsible-body">
						<app-image-select [image]="image"></app-image-select>
					</div>
				</li>
			</ul>
			

			<div class="row">
				<div class="col s12">
					<button class="btn" type="submit">Verzenden</button>
					<a (click)="navigateToWords()" href="javascript:void(0)" class="btn right">Terug</a>
				</div>
			</div>
		</form>
	</div>
</div>