<div class="root green valign-wrapper" materialize>
	<div class="container">
		<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
			<div class="card">
				<div class="card-content">
					<div class="card-title">Login</div>
					<div class="input-field">
						<input type="text" [(ngModel)]="username" name="username">
						<label for="">Username</label>
					</div>
					<div class="input-field">
						<input type="password" [(ngModel)]="password" name="password">
						<label for="">Password</label>
					</div>

				</div>
				<div class="card-action">
					<div class="row">
						<div class="col s12">
							<button class="btn">Login</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>