<div class="row">
	<div class="col s12">
		<div class="card" *ngFor="let order of groupOrders">
			<div class="card-content">
				<span class="card-title">Woordenset {{order.wordSet}}</span>
				<div class="row">
					<form (ngSubmit)="addWord(order,addWordForm.value.word)" #addWordForm="ngForm">
						<div class="col s12">
							<label>Add word</label>
							<select name="word" materialize="material_select" [ngModel]="dump">
								<option value="{{null}}">Select</option>
								<option [ngValue]="word" *ngFor="let word of words">{{word.word}}</option>
							</select>
						</div>
						<div class="col s12">
							<button class="btn">Voeg toe</button>
						</div>
					</form>
				</div>

				<div class="row">
					<div class="col s12">
						<button (click)="addAllWords(order)" class="btn left">Alle woorden toevoegen</button>
						<button (click)="shuffleWords(order)" class="btn right">Woorden shuffelen</button>
					</div>
				</div>
				<span class="card-title">Volgorde van de wooorden</span>
				<div class="row" *ngFor="let word of order.wordOrderFilled">
					<div class="col s12">
						{{word.word}}
						<span class="right">
							<i class="material-icons" (click)="increaseIndex(order,word)">keyboard_arrow_down</i>
							<i class="material-icons" (click)="decreaseIndex(order,word)">keyboard_arrow_up</i>
							<i class="material-icons" (click)="removeWord(order, word)">delete</i>
						</span>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>