<div class="row">
	<div class="col s12">
		<a href="javascript:void(0)" (click)="setUpload(false)" *ngIf="isUpload">Bestaande afbeelding selecteren</a>
		<a href="javascript:void(0)" (click)="setUpload(true)" *ngIf="!isUpload">Nieuwe afbeelding uploaden</a>
	</div>

	<div class="col s12 m6 l8 imageContainer" *ngIf="!isUpload">
		<div class="col s12 m4 singleImageContainer" *ngFor="let image of imageService.images">
			<img class="img" src={{image.getImageSource()}} alt="afbeelding" (click)="imageClicked(image)"/>
			<br>
		</div>
	</div>
	<div class="col s12 m6 l4" *ngIf="!isUpload">
		<div class="col s12 m6 singleImageContainer" *ngIf="selectedImage.getId() != ''">
			<img src={{selectedImage.getImageSource()}} alt="afbeelding"/>
		</div>
	</div>

	<div class="col s12" *ngIf="isUpload">
		<label for="">Upload</label>
		<div class="file-field input-field">
			<div class="btn">
				<span>File</span>
				<input type="file" (change)="fileChanged($event)" name="images">
			</div>
			<div class="file-path-wrapper">
				<input type="text" class="file-path validate">
			</div>
		</div>
		<a (click)="upload()" href="javascript:void(0)" class="btn right">Upload</a>
	</div>
</div>
