<div class="row">
	<div class="col s12">
		<h3>Resultaten</h3>
		<div *ngIf="!fetched" class="center-align">
		<div  class="preloader-wrapper active">
			<div class="spinner-layer spinner-green-only">
				<div class="circle-clipper left">
				<div class="circle"></div>
				</div><div class="gap-patch">
				<div class="circle"></div>
				</div><div class="circle-clipper right">
				<div class="circle"></div>
				</div>
			</div>
			</div>
		</div>
		<h5 *ngIf="messurtGroups.length == 0 && fetched" class="red-text">Nog geen resultaten beschikbaar</h5>
		<button *ngIf="messurtGroups.length != 0 && fetched" class="btn red" (click)="confirmDelete()">Alle resultaten verwijdern</button>
	</div>
	<div class="col s12 m6" *ngFor="let group of messurtGroups">
		<div class="card" >
			<div class="card-content">
				<span class="card-title">
					{{group.getGroup()}}
				</span>
				<span class="card-title">Gemidelde's</span>
				Gemidelde voor test score: {{group.getAvgPretestScore().toFixed(2)}}
				<br/>
				Gemidelde na test score: {{group.getAvgPostTestScore().toFixed(2)}}
				<br/>
				<span class="card-title">Scores per woord</span>
				<h6>Voor test</h6>
				<ul materialize="collapsible" class="collapsible">
					<li *ngFor="let result of group.preScoresPerWord">
						<div class="collapsible-header">{{result.word.word}}</div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col s6 xl3" *ngFor="let i of [0,1,2,3]">
									<label for="">{{i == 0 ? 'Juist' : 'afleider ' + i}}</label>
									<div class="image-wrapper">
										<img src="{{result.word.images[i].getImageSource()}}" alt="afbeelding"/>
									</div>
									<h6>Score: {{result.getScoreOfImage(i)}}</h6>
								</div>
							</div>
						</div>
					</li>
				</ul>

				<h6>Na test</h6>
				<ul materialize="collapsible" class="collapsible">
					<li *ngFor="let result of group.postScoresPerWord">
						<div class="collapsible-header">{{result.word.word}}</div>
						<div class="collapsible-body">
							<div class="row">
								<div class="col s12 m6 l3" *ngFor="let i of [0,1,2,3]">
									<div class="image-wrapper">
										<img src="{{result.word.images[i].getImageSource()}}" alt="afbeelding"/>
									</div>
									<h6>Score: {{result.getScoreOfImage(i)}}</h6>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<app-download-excel></app-download-excel>
</div>

<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	<div class="modal-content">
		<h4>Waarschuwing</h4>
		<p>Weet je zeker dat je alle resultaten wilt verwijderen</p>
		<h6 class="red-text">Dit kan niet ongedaan gemaakt worden</h6>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="waves-effect waves-green btn-flat" (click)='deleteResults()'>Ja</a>
		<a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Nee</a>
	</div>
</div>