<nav materialize class="green">
	<a [routerLink]="['']" class="hide-on-med-and-down brand-logo">Woorden</a>
	<ul class="right">
		<li routerLinkActive="active"><a [routerLink]="['words']">Woorden</a></li>
		<li routerLinkActive="active"><a [routerLink]="['wordsets']">Woordensets</a></li>
		<li routerLinkActive="active"><a [routerLink]="['results']">Resultaten</a></li>
		<li><a href="javascript:void()" (click)="logout()">Uit loggen</a></li>
	</ul>
</nav>