<div class="fixed-action-btn">
	<a [routerLink]="['edit']" class="btn-floating btn-large">
		<i class="large material-icons">add</i>
	</a>
</div>

<div class="row">
	<div class="col s12">
		<div class="row">
			<div class="col s12">
				<h3>Woorden</h3>
			</div>
		</div>
		<div class="card" *ngFor="let word of words">
			<div class="card-content">
				<span class="card-title">{{word.word}}</span>
			</div>
			<div class="card-action">
				<a [routerLink]="['edit', word.getId()]">Bewerken</a>
				<a href="javascript:void(0)" (click)="confirmDeleteWord(word)">Verwijderen</a>
			</div>
		</div>
	</div>
</div>

<div id="modal1" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
	<div class="modal-content">
		<h4>Waarschuwing</h4>
		<p>Weet je zeker dat je '{{word.word}}' wilt verwijderen</p>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="waves-effect waves-green btn-flat" (click)='deleteWord()'>Ja</a>
		<a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Nee</a>
	</div>
</div>